.infoWindowText {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 7px;
}

.infoWindowTitle {
  color: #2c2c2c;
}

.infoWindowP {
  font-size: 14px;
  color: #0288d1;
}

.infoWindowContainer {
  display: flex;
  flex-direction: column;
}

.infoWindowsButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.gpsButton {
  margin-right: 7px;
}
